.login-container {
    background: url("../../lib/images/background-login.svg") no-repeat center
      fixed;
    background-size: cover;
    min-height: 100vh;
    font-size: 16px;
  }

  .sign-in-form-container {
    max-width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  .sign-in-form {
    display: flex;
    flex-direction: column;
    max-width: 540px;
    background-color: #fff;
    padding: 50px;
    margin: 17vh 0vw;
    border-radius: 10px;
  }
  .top-margin {
    padding-top: 95px;
  }
  .bottom-margin {
    padding-top: 30px;
  }

  .align-check-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 4px;
    padding-bottom: 50px;
  }
  .murray-aronson-logo {
    align-self: center;
    width: 388px;
    height: 80px;
  }
  @media screen and (max-device-width: 1150px) {
    .murray-aronson-logo {
      width: 300px;
    }
    .sign-in-form-container {
      flex-direction: column;
      align-items: center;
      max-width: 600px;
    }

    .sign-in-form {
      margin-top: 250px;
      margin-bottom: 5vh;
    }
  }

  @media screen and (max-device-width: 660px) {
    .murray-aronson-logo {
      width: 240px;
    }
    .sign-in-form-container {
      max-width: 600px;
    }
    .sign-in-form {
      margin-top: 250px;
      margin-bottom: 5vh;
      padding: 30px;
    }

    .login-container {
      font-size: 13px;
    }
  }

  @media screen and (max-device-width: 440px) {
    .murray-aronson-logo {
      width: 200px;
    }

    .sign-in-form-container {
      padding-left: 10px;
      padding-right: 10px;
    }

    .sign-in-form {
      padding: 20px;
    }
    .login-container {
      font-size: 12px;
    }
    .align-check-box {
      padding-bottom: 35px;
    }
  }